@model Preventa.Modelos.Sistema.Tablas.Preventa.PreventaEncabezado

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-sm-8 mb-2">

        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 text-end">
                        <button class="btn btn-primary me-2" id="btnTerminarVenta"><i class="bi bi-currency-dollar"></i> Terminar Venta</button>
                        <button class="btn btn-danger" id="btnLimpiarLista"><i class="bi bi-x-circle-fill"></i> Limpiar Lista</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Productos
            </div>
            <div class="card-body">
                <div class="row">
                    @*<div class="col-sm-12">
                    <label for="exampleFormControlInput1" class="form-label">Buscar Producto</label>
                    <input type="text" class="form-control form-control-sm" id="buscarProducto" data-idproducto="0" />
                    </div>*@

                    <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Producto</label>
                        </div>
                        <select id="cmbProducto" class="custom-select" required="required" class="form-control" asp-items="ViewBag.ListaProductos"></select>
                        <button class="btn-primary" id="btnAgregarDetalle">Agregar</button>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th style="width: 80px;">Cantidad</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>


    </div>

    <div class="col-sm-4">

        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Cliente
                    </div>
                    <div class="card-body">
                        <select asp-for="IdCliente" class="custom-select" required="required" class="form-control" asp-items="ViewBag.ListaClientes"></select>
                        <span class="text-danger">@Html.ValidationMessageFor(d=> d.IdCliente)</span>
                    </div>
                    <div class="form-group" style="margin:10px;">
                        <label asp-for="Observacion" class="control-label"></label>
                        <input asp-for="Observacion" class="form-control" />
                        <span asp-validation-for="Observacion" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                Detalle
                            </div>
                            <div class="col-sm-6 text-end">
                                <p id="pVentaTotal" class="text-warning fw-bold m-0 p-0"></p>

                            </div>
                        </div>

                    </div>
                    <div class="card-body">


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Tipo de pago</label>
                            </div>
                            <select asp-for="Contado" class="custom-select" id="cbotipopago">
                                <option value="True" selected>Contado</option>
                                <option value="False">Credito</option>
                            </select>
                        </div>


                        <hr />


                        <div class="input-group input-group-sm mb-2">
                            <span class="input-group-text bg-primary">Sub Total</span>
                            <input type="text" id="txtSubTotal" placeholder="0.00" class="form-control form-control-sm text-end fw-bold" disabled>
                        </div>
                        <div class="input-group input-group-sm mb-2">
                            <span class="input-group-text bg-primary">IGV (18%)</span>
                            <input type="text" id="txtIgv" placeholder="0.00" class="form-control form-control-sm text-end fw-bold" disabled>
                        </div>
                        <div class="input-group input-group-sm mb-2">
                            <span class="input-group-text bg-primary">Total</span>
                            <input type="text" id="txtTotal" placeholder="0.00" class="form-control form-control-sm text-end fw-bold" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<div>
    <a asp-action="Index">Atrás</a>
</div>

<script>

    var productos = [];
    $('#btnAgregarDetalle').click(function () 
    {
        let idproducto= $('#cmbProducto option:selected').val();
        AgregarProducto(idproducto);
    });


    function MostrarPrecios(tipoPago = false) 
    {
        let total = productos.reduce(function (accumulator, item) {
            return accumulator + item.Total
        }, 0)

        let base = total / 1.15;
        let igv = total - base;

        //$("#pVentaTotal").html("S/. " + total.toFixed(2))
        $("#txtSubTotal").val("S/. " + base)
        $("#txtIgv").val("S/. " + igv)
        $("#txtTotal").val("S/. " + total)

        //if (tipoPago) {
        //    $("#txtPagoCon").val("S/. " + total.toFixed(2))
        //    $("#txtCambio").val("S/. 0.00")
        //}
    };

    function AgregarProducto(idproducto) {
        $.ajax({
            url: "@Url.Action("ObtenerProducto","Preventa")?idproducto=" + idproducto,
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                const existe = productos.some(element => element.IdProducto === data.idProducto);

                //if (existe) {
                //    Object.keys(productos).forEach(index => {

                //        if (productos[index].IdProducto === data.idProducto) {
                //            productos[index] = {
                //                IdProducto: data.idProducto,
                //                Descripcion: data.Descripcion,
                //                PrecioVenta: data.PrecioUnitario,
                //                Cantidad: 10//productos[index].Cantidad + 1,
                //                Total: data.precioVenta * (productos[index].Cantidad + 1)
                //            }
                //        }
                //    });

                //} else 
                {
                    var producto = {
                        IdProducto: data.ide,
                        Descripcion: data.descripcion,
                        PrecioVenta: data.precioUnitario,
                        Cantidad: 1,
                        Total: data.precioUnitario
                    }

                    productos.push(producto);
                }

                $("#tabla tbody").html("");

                $.each(productos, function (i, item) {

                    $("<tr>").append(
                        $("<td>").append(item.Descripcion),
                        $("<td>").append(item.Cantidad),
                        $("<td>").append(item.PrecioVenta),
                        $("<td>").append(item.Total),
                        $("<td>").append(
                            $("<button>").addClass("btn btn-danger btn-eliminar btn-sm" ).append(
                                $("<i>").addClass("fa-trash")
                            )
                        ),
                    ).data("idproducto", item.IdProducto).appendTo("#tabla tbody")
                })


                MostrarPrecios();
            },
            error: function (error) {
                console.log("bad")
            }
        })

    }

</script>