@*
@{
    ViewData["Title"] = "Login";
}*@


@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="es-es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Preventa.Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <title>Login</title>
</head>
<body>
    <form asp-controller="Account" asp-action="Login" method="post"
        style="margin:auto; width: 300px;align-content:center;margin-top:50px;" >

        <h1 class="text-center">Inicie sesión</h1>
        <br />

        <div class="form-floating" style="margin-bottom:10px">
            <input class="form-control" id="floatingInput" placeholder="Usuario">
            <label for="floatingInput">Usuario</label>
        </div>

        <div class="form-floating" style="margin-bottom:10px">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>
        @if (ViewData["mensaje"] != null)
        {
            <div class="form-outline">
                <div class="alert alert-danger" role="alert"> @ViewData["mensaje"]</div>
            </div>
            <br />

        }

        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar</button>
        

    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>


